/*center the logo inside its container*/
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*stack logo abv login box*/
    /* margin-top: 100px; */
    margin-bottom: -5%;
}

.brword {
    width: 20%;
    height: auto;
    transition: box-shadow 0.4s ease-in-out; /*enables smooth animation when adding/removing a shadow*/
    animation: flashWhite 2s infinite alternate; /*animation cycle lasts 1.5s and brightness increase then decreases*/
}

/*animation called flashWhite that will make the logo flash*/
@keyframes flashWhite {
    0% {
        filter: brightness(1);
    }
    80% {
        filter: brightness(1.3); /* Increases brightness for the "flashing" effect */
    }
}