.home-container {
    min-height: 100vh;
    background-color: #c97272;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.home-header {
    width: 100vw;  
    background-color: #000000;
    backdrop-filter: blur(6px);
    box-sizing: border-box;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}

.home-title {
    font-size: 30px;
    font-weight: bold;
    color: #c7c8d7; 
}

.search-container {
    position: relative;
    flex-grow: 1;
    max-width: 500px;
    margin: 0 20px;
    
}

.search-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #888;
}

.search-input {
    width: 100%;
    padding: 8px 8px 8px 32px;
    border: 1px solid #eee;
    border-radius: 6px;
    font-size: 15px;
    background-color: #fff;
    color: #000;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-icon {
    width: 40px;
    height: auto;
    background-color: #775591;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bookclub-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 6px 30px;
    font-size: 10px;
    cursor: pointer;
    background-color: #775591;
}

.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 6px 30px;
    font-size: 10px;
    cursor: pointer;
    background-color: #775591;
}

.main-section{
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;
}

.section-title {
    padding: 0px 50px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #000000;
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 24px;
    padding: 0px 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    border: 0.5px solid #d9d7e1;
    border-radius: 8px;
    overflow: hidden;
    background-color: #eee;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.10);
    box-shadow: 0 8px 16px rgba(203, 133, 133, 0.2);
}

.card-img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    background-color: #ddd;
    flex-shrink: 0;
}

.card-body {
    flex-grow: 1;
    padding: 5px 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.book-title {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    white-space: wrap;
}

.book-author {
    font-size: 13px;
    color: #9f9a9a;
}

.card-footer {
    height: 20%;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0px;
}

.category-badge {
    background-color: #b9b7b7;
    padding: 4px 10px;
    border: 1px solid #646363;
    border-radius: 12px;
    font-size: 12px;
    color: #555;
}

.details-button {
    padding: 4px 8px;
    font-size: 12px;
    background-color: rgb(136, 125, 189);
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    position: relative;
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    width: 1000px;
    max-width: 80%;
    max-height: 80%;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    overflow: hidden;
    text-align: left;
    opacity: 0;
    transform: scale(0.40);
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.modal.show {
    opacity: 1;
    transform: scale(1);
  }

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    overflow-y: auto;
    max-height: 75vh;
}

.modal-content p {
    margin: 0px;
    float: left;
    font-size: 14px;
}

.close-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.details-img {
    width: 100vw;
    max-width: 200px;
    height: auto;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.total-book-rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rating-text {
    font-size: 16px;
    color: #444;
}

.rating-container {
    display:flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.modal-label {
    font-size: 14px;
}

