/*ensuring full-page has brown background*/
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #443329;
}

/* login container full height */
/* 
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px; 
} */

/*styling the login box
  border-radius ensures rounded corners
  padding is spacing inside box*/
.login-box{
    width: 30%;
    padding: 25px;
    padding-top: 5%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(125, 55, 8, 0.1);
    text-align: center;
    background-color:#b9af9a;
}

/*wraps input and label*/
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

/*bold labels*/
.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/*full-width input fields*/
.input-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #92bca9;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
  
button:hover {
    background-color: #678578;
}

.signup{
    display: flex;
    justify-content: left;
}
.forgotpassword{
    display: flex;
    justify-content: right;
}
